<div class="message">
	<img src="/assets/not-found.gif" alt="error"/>
    <h1>La página que estas tratando de acceder no existe</h1>
    <p>Por favor, controlá que el link sea correcto y volve a intentar.</p>
    <p><a href="<%=home_path%>" class="btn btn-large btn-primary">Volver a la home</a></p>
</div>