<div class="message">
  <img src="/assets/error.gif" alt="error"/>
  <h1>¡WOOPS!</h1>
  <p>Que raro, se produjo un error. En cuanto podamos lo arreglamos.</p>
  <p><a href="<%=home_path%>" class="btn btn-large btn-primary">Volver a la home</a></p>
</div>