<div class="home-header">
    <img width="160" height="160" src="/assets/datos-democraticos-160.png" alt="logo" class="img-circle" />
    <div class="content">
      <h1>Datos Democráticos <small>Beta</small></h1>
      <p>Trabajamos para lograr la centralización, normalización y distribución de Open Data.</p>
      <p>¡Para que Open Data y Open Gov sea más abierto y democrático que nunca!</p>
      <p><a class="btn btn-large btn-primary" href="<%=quienes_somos_path%>">¿Quiénes somos?</a></p>
    </div>
</div>
<div class="boxes-first-row">
  <div class="row">
    <div class="box col-lg-4">
      <a href="http://twitter.com/datosdemoc"><img width="150" height="150" class="img-circle" src="/assets/twitter-150.png" alt="Twitter"></a>
      <a href="http://twitter.com/datosdemoc"><h2>Seguinos en Twitter @datosdemoc</h2></a>
    </div>
    <div class="box col-lg-4">
      <a href="http://facebook.com/datosdemoc"><img width="150" height="150" class="img-circle" src="/assets/facebook-150.png" alt="Facebook"></a>
      <a href="http://facebook.com/datosdemoc"><h2>Seguinos en facebook</h2></a>
    </div>
    <div class="box col-lg-4">
      <a href="/blog"><img width="150" height="150" class="img-circle" src="/assets/blog-150.png" alt="Blog"></a>
      <a href="/blog"><h2>Blog</h2></a>
    </div>
  </div>

</div>

<div class="boxes-caracteristicas">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Centralización <span class="text-muted">de los datos.</span></h2>
      <p class="lead">Proveemos una herramienta que centraliza los datos que abren las distintas instituciónes importando todos los set de datos.</p>
    </div>
    <div class="col-md-5">
      <img width="350" height="205" class="featurette-image img-responsive pull-right" src="/assets/centralizacion.png" alt="Centralización"/>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img width="350" height="205" class="featurette-image img-responsive pull-left" src="/assets/distribucion.png" alt="Distribución"/>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Distribución <span class="text-muted">de los datos.</span></h2>
      <p class="lead">Proveemos facil acceso a los datos mediante un API REST para facilitar la integración con cualquier sistema informático.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Normalización <span class="text-muted">de los datos.</span></h2>
      <p class="lead">Todos los datos poseen el mismo formato, para asegurar una integración sencilla sin necesidad de implementar distintos procesadores para cada tipo de documento.</p>
    </div>
    <div class="col-md-5">
      <img width="350" height="205" class="featurette-image img-responsive pull-right" src="/assets/normalizacion.png" alt="Normalización"/>
    </div>
  </div>

  <hr class="featurette-divider">

</div>