<div class="spacer centered">
<h1>¿Qué es?</h1>

<h2>Datos Abiertos (Open Data)</h2>
<p>El concepto de Datos Abiertos es entendido como una práctica basada en la idea de que los datos o la información creados por la Administración Pública pertenecen a la sociedad. Dicha información es compartida, a través de una plataforma web, sin ninguna forma de protección legal en formatos digitales y estándar con una estructura de fácil comprensión para que la misma pueda ser utilizada por los ciudadanos.</p>
<h2>Gobierno Abierto (Open Gov)</h2>
<p>El concepto de Gobierno Abierto corresponde a una doctrina política que sostiene el compromiso de abrir y compartir la información propia de la administración pública. Un Gobierno Abierto asume el compromiso de compartir la información con los ciudadanos con el fin de garantizar espacios de interacción e incrementar el nivel de transparencia, participación y colaboración ciudadana.</p>

<p>Datos Democráticos asume el compromiso de centralizar toda la información compartida por la administración pública en un formato claro y preciso a través de un catálogo abierto, con el fin de que estos puedan ser reutilizados por los ciudadanos.</p>

</div>