<div class="spacer centered">
  <h1>¿Qué es Datos Abiertos (Open Data) y Gobierno Abierto (Open Gov)?</h1>

  <h2>Indice</h2>
  <ul>

    <li><a href="#que-es">Datos Abiertos y Gobierno Abierto</a></li>
    <li><a href="#why-open-data">¿Por qué datos abiertos?</a></li>
    <li><a href="#what-is-open-data">¿Qué son los datos abiertos?</a></li>
    <li><a href="#what-is-open">¿Qué significa abierto?</a></li>
    <li><a href="#what-data-can-be-open">¿De qué datos estamos hablando?</a></li>
    <li><a href="#how-to-open-up-data">¿Cómo abrir datos?</a></li>
    <li><a href="#fuente">Fuente</a></li>

  </ul>
</div>
<div class="spacer centered" id="que-es">
  <h2>Datos Abiertos (Open Data)</h2>
  <p>El concepto de Datos Abiertos es entendido como una práctica basada en la idea de que los datos o la información creados por la Administración Pública pertenecen a la sociedad. Dicha información es compartida, a través de una plataforma web, sin ninguna forma de protección legal en formatos digitales y estándar con una estructura de fácil comprensión para que la misma pueda ser utilizada por los ciudadanos.</p>
  <h2>Gobierno Abierto (Open Gov)</h2>
  <p>El concepto de Gobierno Abierto corresponde a una doctrina política que sostiene el compromiso de abrir y compartir la información propia de la administración pública. Un Gobierno Abierto asume el compromiso de compartir la información con los ciudadanos con el fin de garantizar espacios de interacción e incrementar el nivel de transparencia, participación y colaboración ciudadana.</p>
  <p>Datos Democráticos asume el compromiso de centralizar toda la información compartida por la administración pública en un formato claro y preciso a través de un catálogo abierto, con el fin de que estos puedan ser reutilizados por los ciudadanos.</p>
</div>

<div class="spacer centered" id="why-open-data">
  <h2>¿Por qué datos abiertos?</h2>
  <p><a class="reference internal" href="http://opendatahandbook.org/es/glossary.html#term-open-data"><em class="xref std std-term">Open data</em></a>, especially <a class="reference internal" href="http://opendatahandbook.org/es/glossary.html#term-open-government-data"><em class="xref std std-term">open government data</em></a>,
    is a tremendous resource that is as yet largely untapped. Many
    individuals and organisations collect a broad range of different types
    of data in order to perform their tasks. Government is particularly
    significant in this respect, both because of the quantity and centrality
    of the data it collects, but also because most of that government data
    is public data by law, and therefore could be made open and made
    available for others to use. Why is that of interest?</p>
  <p>Existen muchas áreas donde podemos esperar que los datos abiertos sean valiosos, y donde los ejemplos de cómo ha sido usado ya existan. Existen también diferentes grupos de personas y organizaciones que pueden beneficiarse de la disponibilidad de datos abiertos, incluido el mismo gobierno. Al mismo tiempo es imposible predecir con exactitud cómo y donde será creado el valor en el futuro. La naturaleza de las innovaciones es que su desarrollo frecuentemente proviene de los lugares más inverosímiles.</p>
  <p>Ya es posible apuntar a un gran número de áreas donde los gobiernos abiertos están creando valor. Algunas de estas áreas incluyen:</p>
  <ul class="simple">
    <li>Transparencia y control democrático</li>
    <li>Participación</li>
    <li>Auto-empoderamiento</li>
    <li>Productos privados y servicios nuevos o mejorados</li>
    <li>Innovación</li>
    <li>Mayor eficiencia de los servicios públicos</li>
    <li>Mayor eficacia de los servicios públicos</li>
    <li>Medición del impacto de políticas</li>
    <li>Nuevos conocimientos a partir de fuentes de datos combinadas y patrones en grandes volúmenes de datos</li>
  </ul>
  <p>Existen ejemplos en la mayoría de estas áreas.</p>
  <p>En términos de transparencia, proyectos como el finlandés “tax tree” y el británico “Where does my money goes?” muestran cómo el Gobierno esta gastando el dinero de tus impuestos. También esta el ejemplo de cómo los Datos Abiertos hicieron que el Gobierno de Canadá ahorre 3.2 millones de dólares que de manera fraudulenta se deducían de los impuestos como donaciones de caridad. Varios sitios web, como el danés folketsting.dk, siguen las actividades en el Parlamento y el proceso de formulación de leyes para que puedas ver exactamente qué esta pasando y que Miembros del Parlamento están involucrados.</p>
  <p>Los datos abiertos también pueden ayudarte a tomar mejores decisiones en tu vida, o a tener un rol más activo en la sociedad. Una mujer en Dinamarca desarrolló findtoilet.dk que muestra todos los baños públicos daneses, para que personas que ella sabía tenían problemas de vejiga pudieran salir más seguido. En los Países Bajos esta disponible un servicio, vervuilingsalarm.nl, que te avisa con un mensaje si la calidad del aire en tus inmediaciones alcanzará, al día siguiente, el umbral que previamente definiste. En Nueva York puedes saber fácilmente dónde puedes pasear a tu perro, así como también encontrar otras personas que usan los mismos parques. Servicios como “Mapumental” en el Reino Unido y “Mapnificent” en Alemania te permiten encontrar lugares donde vivir tomando en cuenta la duración del viaje hasta tu trabajo, precios de viviendas y cuán bella es el área. Todos estos ejemplos usan Datos Abiertos.</p>
  <p>En términos económicos, los datos abiertos son también de gran importancia. Numerosos estudios estimaron el valor económico de los datos abiertos en varias decenas de billones de Euros al año, sólo en la Unión Europea. Nuevos productos y compañías están reutilizando datos públicos. El sitio danés husetsweb.dk te ayuda a encontrar maneras de mejorar la eficiencia energética en tu casa, incluyendo planificación financiera e información sobre constructores que puedan hacer el trabajo. Esta basado en información catastral y sobre subsidios gubernamentales, así como el registro de comercio local. El Traductor de Gooble usa el enorme volumen de documentos de la Unión Europea que aparecen en todos los idiomas europeos para entrenar sus algoritmos de traducción y así mejorar la calidad de su servicio.</p>
  <p>Los datos abiertos son de valor también para el mismo Gobierno. Puede mejorar, por ejemplo, la eficiencia gubernamental. El Ministro de Educación holandés publicó en internet todos los datos relacionados con educación, para su reutilización. Desde entonces, el número de preguntas que reciben bajó, reduciendo el volumen de trabajo y los costos, y las preguntas restantes resultan más fáciles de responder porque es claro dónde puede encontrarse la información importante. Abrir datos es también hacer al Gobierno más efectivo lo que, en última instancia, reduce costos. El Departamento Holandés de Patrimonio Cultural esta liberando información y colaborando con sociedades y grupos históricos amateurs, como la Fundación Wikimedia, con el objeto de ejecutar sus propias tareas de manera más eficiente. Esto no solamente deviene en  mejoras en la calidad de sus datos, sino que también terminará haciendo a los departamentos más pequeños.</p>
  <p>Mientras que existen diversas instancias que demuestran cómo los datos abiertos están creando valor tanto social como económico, todavía no sabemos qué cosas se volverán posibles en el futuro. Nuevas combinaciones de datos pueden crear nuevos conocimientos e ideas, que pueden llevar a nuevos campos de aplicación. Hemos visto esto en el pasado, por ejemplo cuando el Dr.Snow descubrió la relación entre tomar contaminación de agua y contraer cólera en Londres en el siglo XIX combinando información de muertes por cólera y la ubicación de los pozos de agua. Esto llevó a la construcción del sistema de acantarillado de Londres y mejoró enormemente la salud de la población. Es probable que veamos desarrollos como tal sucediendo de nuevo mientras ideas inesperadas surgen de la combinación de diferentes conjuntos de datos abiertos.</p>
  <p>Este potencial sin explotar puede ser aprovechado si transformamos los datos públicos de Gobierno en datos abiertos. Esto solamente pasará, sin embargo, si se trata de datos verdaderamente abiertos, es decir si no hay restricciones (legales, financieras o tecnológicas) para su reutilización por terceros. Toda restricción excluirá a personas de la posibilidad de reutilizar los datos públicos y hará más difícil que se encuentren maneras valiosas de hacerlo. Para que el potencial sea reconocido, los datos públicos deben ser abiertos.</p>
</div>
<div class="spacer centered" id="what-is-open-data">
  <h2>¿Qué son los datos abiertos?</h2>
  <p>Este manual es sobre “Datos Abiertos” pero ¿Qué es exactamente Datos Abiertos? En particular ¿Qué hace a los Datos Abiertos “Abiertos”? ¿De qué tipo de datos hablamos?</p>
  <div class="section" id="what-is-open">
    <h3>¿Qué significa abierto?</h3>
    <p>Este manual es sobre “Datos Abiertos” pero ¿Qué es exactamente Datos Abiertos?  Para nuestros propósitos, Datos Abiertos es definido por la “Definición de apertura”</p>
    <p><em>Los datos abiertos son datos que pueden ser utilizados, reutilizados y redistribuidos libremente por cualquier persona, y que se encuentran sujetos, cuando más, al requerimiento de atribución y de compartirse de la misma manera en que aparecen.</em></p>
    <p>La definición de apertura completa da detalles precisos de lo que significa. Para resumir lo más importante:</p>
    <ul class="simple">
      <li>Disponibilidad y acceso: la información debe estar disponible como un todo y a un costo razonable de reproducción, preferiblemente descargándola de internet. Además, la información debe estar disponible en una forma conveniente y modificable.</li>
      <li><strong>Reutilización y redistribución:</strong> los datos deben ser provistos bajo términos que permitan reutilizarlos y redistribuirlos, e incluso integrarlos con otros conjuntos de datos.</li>
      <li>Participación universal: todos deben poder utilizar, reutilizar y redistribuir la información. No debe haber discriminación alguna en términos de esfuerzo, personas o grupos. Restricciones “no comerciales” que prevendrían el uso comercial de los datos; o restricciones de uso para ciertos propósitos (por ejemplo sólo para educación) no son permitidos.</li>
    </ul>
    <p>Si te estás preguntando por qué es tan importante ser claros respecto de lo que significa ser “Abierto” y por qué se usa esta definición, hay una respuesta simple: interoperabilidad.</p>
    <p>La interoperabilidad denota la habilidad de diversos sistemas y organizaciones para trabajar juntos (interoperar). En este caso, es la habilidad para interoperar o integrar diferentes bases de datos.</p>
    <p>La interoperabilidad es importante porque permite que distintos componentes trabajen juntos. Esta habilidad de integrar componentes es esencial para construir sistemas complejos y grandes. Sin interoperabilidad es casi imposible lograrlo -como lo demuestra el famoso mito de la Torre de Babel, donde la inhabilidad de comunicar (interoperar) da como resultado el colapso de todo el esfuerzo para construir la torre.</p>
    <p>Enfrentamos una situación similar en relación con los datos. La esencia de los datos (o códigos) compartidos es que una parte del material abierto pueda a partir de ahí ser mezclado con otro material abierto. Esta interoperabilidad es absolutamente fundamental para entender los principales beneficios prácticos de la apertura: el incremento dramático de la habilidad de combinar distintas bases de datos o conjuntos de datos y así desarrollar más y mejores productos y servicios (estos beneficios son discutidos con más detalle en la sección del porqué de los datos abiertos).</p>
    <p>Proveer una definición clara de apertura garantiza que cuando se trabaje con conjuntos de datos abiertos de fuentes diferentes, se los pueda combinar; y asegura que evitemos nuestra propia “Torre de Babel”: muchos conjuntos de datos con poca o ninguna posibilidad de combinarlos en sistemas más grandes, donde se encuentra el verdadero valor.</p>
  </div>
  <div class="section" id="what-data-are-you-talking-about">
    <span id="what-data-can-be-open"></span><h2>¿De qué datos estamos hablando?</h2>
    <p>Los lectores ya vieron ejemplos de los tipos de datos que son o pueden ser abiertos y verán más ejemplos a continuación. Sin embargo, será de utilidad bosquejar que tipos de datos son o pueden ser abiertos e -igualmente importante- cuáles no serán abiertos.</p>
    <p>La clave es que cuando se trata de abrir datos el foco se pone en información no personal, es decir, datos que no contienen información sobre individuos específicos.</p>
    <p>De manera similar, para algunos tipos de datos gubernamentales, pueden aplicar restricciones nacionales de seguridad.</p>
  </div>
</div>
<div class="spacer centered" id="how-to-open-up-data">
  <h2>¿Cómo abrir datos?</h2>
  <p>Esta sección constituye el núcleo de este manual. Le da consejos concretos y detallados de cómo los poseedores de datos pueden abrir sus datos. Pasaremos por lo más básico, pero también cubriremos las trampas. Por último, vamos a discutir las cuestiones más sutiles que pueden surgir.</p>
  <p>Existen tres reglas clave que recomendamos seguir en la apertura de datos:</p>
  <blockquote>
    <div><ul>
      <li><p class="first"><strong>Mantenlo simple.</strong> Inicia con lo pequeño, sencillo y rápido. No hay requisito que los conjuntos de datos deben tener en este momento. Inicie abriendo sólo un conjunto de datos, o incluso una parte de un conjunto de datos grande, esta muy bien – y claro, entre más conjuntos de datos pueda abrir, mejor.</p>
        <p>Recuerda que esto es acerca de la innovación. Moverse tan rápido como puedes es bueno porque significa que puedes crear impulso y aprender de la experiencia – la innovación es tanto sobre el fracaso como el éxito y no todo dataset será útil.</p>
      </li>
      <li><p class="first"><strong>Comprometerse temprano y comprometerse con frecuencia</strong> Comprometerse con los usuarios reales y potenciales, y en cambio usuarios de los datos tan pronto y tan a menudo como pueda, ya sean ciudadanos, empresas o desarrolladores. Esto asegurará que la próxima versión de su servicio sea tan relevante como pueda ser.</p>
        <p>Es esencial tener en cuenta que gran parte de los datos no llegarán a los usuarios finales directamente, sino que a través de “info-mediarios”. Estas son las personas que toman los datos y la transforman para presentarla. Por ejemplo, la mayoría de nosotros no quiere o necesita una gran base de datos de las coordenadas GPS, preferiríamos un mapa. Por lo tanto, comprometerse con infomediarios en primer lugar. Ellos volverán a utilizar y reutilizar el material.</p>
      </li>
      <li><p class="first"><strong>Direcciona temores y malentendidos comunes</strong>. Esto es especialmente importante si usted está trabajando con o dentro de las grandes instituciones como el gobierno. Cuando la apertura de datos se encontrará con un montón de preguntas y temores. Es importante (a) identificar las más importantes y (b) abordar estos problemas en la fase más temprana posible.</p>
      </li>
    </ul>
    </div></blockquote>
  <p>Existen cuatro pasos principales para la creación de Datos Abiertos, cada una será explicada en detalle más abajo. Se encuentran en un orden muy aproximado y pueden ser realizados simultáneamente.</p>
  <blockquote>
    <div><ol class="arabic">
      <li><p class="first">** Elija el conjunto de datos (s). ** Elija el conjunto de datos (s) que desea hacer público. Tenga en cuenta que usted puede (y puede ser necesario) regresar a este paso si tiene problemas en una etapa posterior.</p>
      </li>
      <li><p class="first"><strong>Utilizar una licencia abierta</strong></p>
        <blockquote>
          <div><ol class="arabic simple">
            <li>Determine qué derechos de propiedad intelectual existen en la información.</li>
            <li>Aplica una licencia “abierta” adecuada que licencie todos esos derecho y soporte la definición de apertura discutida en la sección anterior, en “Qué es Datos Abiertos”.</li>
            <li>NB: Si tu no puedes hacer esto, vuelve al paso 1 y prueba con un dataset diferente.</li>
          </ol>
          </div></blockquote>
      </li>
      <li><p class="first"><strong>Poner a disposición la información”</strong>-  en conjunto y en un formato útil. También puedes considerar otras alternativas de hacerla disponible, así como una API.</p>
      </li>
      <li><p class="first"><strong>Hazla visible</strong>- Publicala en la web y quizás organiza un catálogo central que enumera tus datasets abiertos</p>
      </li>
    </ol>
    </div></blockquote>
  <div class="toctree-wrapper compound">
    <ul>
      <li class="toctree-l1"><a class="reference internal" href="http://opendatahandbook.org/es/introduction/choose-datasets.html">Escoger bases de datos</a></li>
      <li class="toctree-l1"><a class="reference internal" href="http://opendatahandbook.org/es/introduction/apply-an-open-license.html">Solicite una Licencia Abierta (Apertura Legal)</a></li>
      <li class="toctree-l1"><a class="reference internal" href="http://opendatahandbook.org/es/introduction/make-data-available.html">Pon los datos a disposición (Apertura Técnica)</a></li>
      <li class="toctree-l1"><a class="reference internal" href="http://opendatahandbook.org/es/introduction/make-it-discoverable.html">Haga datos detectables.</a></li>
    </ul>
  </div>
</div>
<div class="spacer centered" id="fuente">
  <h2>Fuente</h2>
  <p>
    La información mostrada en esta página es un extracto del <b>Open Data Handbook</b> en español <a href="http://opendatahandbook.org/es/">http://opendatahandbook.org/es/</a> un proyecto de la <a href="http://okfn.org/">Open Knowledge Foundation</a>.

  </p>
</div>
