<div class="spacer centered">

  <h1>Datos Democráticos</h1>

  <p><strong>Datos Democráticos</strong> es una plataforma cuyo objetivo es la <strong>centralización</strong>, <strong>normalización</strong> y <strong>distribución</strong> de los datos para que puedan ser reutilizados por los ciudadanos.</p>
  <p><strong>Centralización</strong>: Proveemos una herramienta que centraliza los datos que abren las distintas instituciónes importando todos los set de datos.</p>
  <p><strong>Distribución</strong>: Proveemos fácil acceso a los datos mediante un API REST para facilitar la integración con cualquier sistema informático.</p>
  <p><strong>Normalización</strong>: Todos los datos poseen el mismo formato, para asegurar una integración sencilla sin necesidad de implementar distintos procesadores para cada tipo de documento.</p>
  <br>
  <h2>¿Por qué hicimos esto?</h2>

  <p>En el último tiempo tomamos consciencia de la importancia que tiene el Open Gov y Open Data, cada uno desde distintos ángulos.</p>
  <p>Si lo vemos desde el <strong>ciudadano</strong>, le permite acceder a información que tradicionalmente no podía y de cierta forma "auditar" la gestión. Por otro lado permite acceder a mayor cantidad de información en base al análisis de los datos y mayor número de aplicaciones que le faciliten sus labores diarias.</p>
  <p>Si lo vemos desde el <strong>gobierno</strong>, le provee una herramienta para acercarse al ciudadano y junto con las TICs comenzar a tener una comunicación más activa. Por otro lado, <strong>permite mostrar una gestión más "transparente"</strong> en relación a la información que brinda al ciudadano.</p>
  <br>
  <h2>¿Quiénes somos?</h2>
  <div class="nosotros">
    <div class="persona">
      <img src="/assets/german_lena.jpg" title="Germán Lena" alt="Germán Lena" width="100" height="100"/>
      <h3>Germán Lena</h3>
      <div><a onclick="ga('send', 'event', 'click', 'german', 'profile');" target="_blank" href="http://germanlena.com.ar">germanlena.com.ar</a></div>
      <div><a onclick="ga('send', 'event', 'click', 'german', 'linkedin');" target="_blank" href="http://ar.linkedin.com/in/germanlena/">LinkedIn</a></div>
      <div><a onclick="ga('send', 'event', 'click', 'german', 'twitter');" target="_blank" href="http://twitter.com/german_lena">Twitter</a></div>
    </div>

    <div class="persona">
      <img src="/assets/natalia_borrazas.jpg" title="Natalia Borrazas" alt="Natalia Borrazas" width="100" height="100"/>
      <h3>Natalia Borrazas</h3>
      <div><a onclick="ga('send', 'event', 'click', 'natalia', 'linkedin');" target="_blank" href="http://ar.linkedin.com/pub/natalia-bárbara-borrazás/1b/822/591">LinkedIn</a></div>
    </div>
  </div>

</div>