<!-- LoginForm -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login / Registración</h4>
      </div>
      <div class="modal-body">
        <h2>Login</h2>
        <%= render 'user/loginform' %>
        <hr/>
        <h2>Registrarse</h2>
        <%= render 'user/registracionForm' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->