<div class="form-wrapper spacer centered">
  <%= form_tag forgot_password_path, :method => "post"  do %>

      <h1>Recuperación de password</h1>

      <div class="form-group">
        <%= label :email, 'Email:' %>
        <%= text_field_tag(:email,'', :class => "form-control") %>
      </div>

      <div class="actions">
        <%= submit_tag 'Enviar', :class => "btn btn-large btn-primary"%>
      </div>

  <% end %>
</div>