<div class="message">
	<img src="/assets/success.gif" alt="success"/>
	<h1>Gracias por registrarte!</h1>
	<p>Solo falta un paso, busca un correo nuestro en tu cuenta y hace click en el enlace para validar tu cuenta y terminar con la registración.</p>
	<p>Una vez completado este paso vas a poder obtener tu apikey en la sección "Mi Cuenta"</p>
	<p><a href="<%=home_path%>" class="btn btn-large btn-primary">Volver a la home</a></p>
</div>