/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.navbar-wrapper .navbar {
    border-radius: 4px;
}
.navbar-wrapper {
    padding-top: 20px;
}
.navbar-wrapper,.home-header {
    background-color: rgb(119, 119, 119);
}
.home-header {
    margin-bottom: 60px;
    margin-top: -111px;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}
.home-header > img{
    margin: 100px auto 0;
    display: inline-block;
    width: 160px;
}
.home-header .content {
    padding-top: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.home-header .content p {
    line-height: 25px;
    font-size: 21px;
}
.boxes-caracteristicas,
.boxes-first-row {
    margin: 20px 50px 0;
}
.boxes-caracteristicas img {
    box-shadow: 0 0 10px #999999;
}
.boxes-first-row img {
    box-shadow: 0 0 10px #999999;
}
.boxes-first-row .box {
    text-align: center;
}

.boton-titulo
{
    margin-top: 20px;
    margin-bottom: 10px;
}
.form-wrapper {
    width: 700px;
    margin: auto;
}

.modal-content .form-wrapper {
    width: 100%;
    margin: auto;
}

footer {
    padding: 15px;
    line-height: 20px;
    background-color: #EEEEEE;
    width: 100%;
}

footer p {
    margin:0;
}

.nav>li>a {
    padding: 10px 10px;
}

#apikey {
    cursor: default;
}

.message {
    text-align: center;
    padding: 20px;
}
.message img {
    width: 50%;
}

.alert {
    max-width: 600px;
    margin: 10px auto;
}

.spacer {
    padding: 20px;
}

.text-centered,
.tiles-list.centered-boxes {
    text-align: center;
}

.tiles-list .box {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #CCCCCC;
    width: 80%;
    margin: auto;
}
.tiles-list .box h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.tiles-list .box h3{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    display: inline-block;
    line-height: 18px;
}
.tiles-list .box p{
    display: inline-block;
    margin: 10px 0;
    font-size: 13px;
}

#demo-text {
    cursor: pointer;
    text-decoration: underline;
}

.centered
{
    max-width: 920px;
    margin: auto;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.5em;
}

.filter {
    margin-bottom: 30px;
}
.filter .filter-title {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    font-weight: bold;
}
.filter .category {
    display: inline-block;
    cursor: pointer;
    background-color: #EEEEEE;
    box-shadow: 0 0 5px #DDDDDD;
    padding: 5px;
    margin: 5px;
}
.filter span.category {
    font-weight: bold;
}

.pager {
    display: inline-block;
    padding: 0 25px;
    line-height: 50px;
    font-size: 16px;
    margin: 15px;
}

.pager.page-number {
    font-size: 15px;
}
.pager.next ,
.pager.previous {
    width: 130px;
}
a.pager.next {
    background: transparent url('/assets/next.png') no-repeat center right;
    text-align: right;
}
a.pager.previous {
    background: transparent url('/assets/previous.png') no-repeat center left;
    text-align: left;
}

.nosotros {
    overflow: hidden;
}

.nosotros .persona {
    text-align:center;
    width:49%;
    margin:auto;
    float:left;
}

.nosotros .persona img{
    box-shadow: 0 0 10px #999999;
    border-radius: 50%;
    width:100px;
    height:100px;
}